.search {
    transition: all 0.3s;
}

.search label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
}

.search label .label-text {
    color: #9B9B9B;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    transform: translateY(-34px);
    transition: all 0.3s;
}

.search label .label-text i {
    padding-right: 10px;
}

.search label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 300px;
}

.search label input:focus {
    width: 400px;
}

.search label input:focus ~ .label-text {
    color: #F0F0F0;
    font-size: 13px;
    transform: translateY(-74px);
}

.search label input:valid ~ .label-text {
    font-size: 13px;
    transform: translateY(-74px);
}

.search .placeholder {
    color: #F0F0F0;
    font-size: 12px;
    transition: all 0.3s;
    transform: translateY(-10px);
    opacity: 0;
}

.search label input:focus ~ .placeholder {
    opacity: 1;
    transform: translateY(0px);
    letter-spacing: 2px;
}

.search label input:valid ~ .placeholder {
    opacity: 0;
    transform: translateY(0px);
    letter-spacing: 2px;
}

.search .search-suggestions {
    padding-top: 10px;
}
