.search {
    transition: all 0.3s;
}

label {
    display: block;
    letter-spacing: 4px;
    padding-top: 30px;
    text-align: center;
}

label .label-text {
    color: #9B9B9B;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    transform: translateY(-34px);
    transition: all 0.3s;
}

label input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #4A4A4A;
    color: white;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    transition: all 0.3s;
    width: 300px;
}

label input:focus {
    width: 400px;
}

label input:focus+.label-text {
    color: #F0F0F0;
    font-size: 13px;
    transform: translateY(-74px);
}

label input:valid+.label-text {
    font-size: 13px;
    transform: translateY(-74px);
}