

.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em;
    font-size: 12;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

@media only screen and (min-width: 400px) {
    .masonry {
        column-count: 2;
    }
}

@media only screen and (min-width: 400px) {
    .masonry {
        column-count: 3;
    }
}


@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}