.roundButton {
    font-size: 20px;
    color: #9B9B9B;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #9B9B9B;
    
}
.roundButton i {
    margin-top: 5px;
    margin-left:10px;
    transition-duration: 0.3s;
}

.roundButton:hover i{
    margin-left: 5px;
}