.home header {
    text-align: center;
    padding-top: 70px;
}

.home header .header-title {
    font-size: 30px;
    color: #9B9B9B;
}

.home section {
    padding: 50px 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.square {
    height: 0;
}

.square-25 {
    width: 25%;
    padding-bottom: 25%;
}

.square-33 {
    width: 33.333333%;
    padding-bottom: 33.333333%;
}

.square-50 {
    width: 50%;
    padding-bottom: 50%;
}

.square-100 {
    width: 100%;
    padding-bottom: 100%;
}

.square {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: #eee;
}

.grid {
    display: block;
    padding: 0;
    margin: 0 -6px 12px;
    text-align: left;
    font-size: 0;
}

.grid-cell {
    display: inline-block;
    margin: 0;
    padding: 0 6px;
    text-align: left;
    vertical-align: top;
    width: 100%;
    font-size: 16px;
    filter: grayscale(100%);
    transition: all 1s;
}

.grid-cell:hover, .grid-cell:active {
    filter: grayscale(0%);
}

.grid-25 {
    width: 25%;
}

.grid-33 {
    width: 33.333333%;
}

.grid-50 {
    width: 50%;
}

.square {
    overflow: hidden;
    border-radius: 8px;
    background-size: cover;
    box-shadow: 0 3px 12px rgba(#252243, .9);
    transition: all 0.5s;
}

.square::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    transition: inherit;
}

.square:hover::before, .square:active::before  {
    transform: scale(1.2);
}

.one {
    background-image: url(https://assets.iamsteve.me/placeholder/1.jpg);
}

.two {
    background-image: url(https://assets.iamsteve.me/placeholder/2.jpg);
}

.three {
    background-image: url(https://assets.iamsteve.me/placeholder/3.jpg);
}

.four {
    background-image: url(https://assets.iamsteve.me/placeholder/4.jpg);
}

.title h2 {
    font-size: 12px;
    font-weight: 700;
    color: #9B9B9B;
    text-shadow: 0 1px rgba(black, .6);
    background: linear-gradient(rgba(#252243, 0), rgba(#252243, .8));
    margin: 0;
    padding: 36px 12px 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}