.home header {
    text-align: center;
    padding-top: 70px;
}

.home header .header-title {
    font-size: 30px;
    color: #9B9B9B;
}

.home section {
    padding: 50px 10px;
    width: 90%;
    margin: auto;
}

