.cheat-sheet-nav {
    display: flex;
}

.cheat-sheet-nav .button {
    padding-top: 47px;
    flex: 1;
    display: flex;
}

.cheat-sheet-nav .button .left {
    justify-content: flex-start;
}

.cheat-sheet-nav .button .right {
    justify-content: flex-end;
}

.cheat-sheet-nav .center {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-basis: 80%;
}